h3{
    color: #e1e1e1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    line-height: 1.65;
}

h3 span {
    border-bottom: 2px solid #00a3e1;
    padding: 5px 10px;
}
