* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100;1,300&display=swap');


html, body {
    height: 100vh;
    min-width: 300px;
}


*/*header*/
header {
    background-color: #000;
    color: #fff;
    position: relative;
    font-family: 'Playfair Display', serif;
    height: 7%;
    
}

header h2 {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;

}

.fa-bars {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    padding: 2% 3%;
    border-left: 1px solid #17181b;
}

/*header*/


#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -199px;
    width: 199px;
    height: 100%;
   display: block;
    z-index: 3;
    transition: all 400ms linear;
    padding: 0;
}

#sidebar.active {
    left: 0;
}



#sidebar .image {
    width: 100%;
    height: 32%;
    background: url("./ressources/photo.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

#sidebar .image h2 {
    color: #fff;
    background-color: rgba(0, 163, 225, 0.8);
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    display: none;
}

#sidebar-info {
    background-color: #17181b;
    height: 67.5%;
    position: relative;
}

#sidebar-info li {
    list-style: none;
}

#sidebar i {
    padding: 0 7px 0 0 ;
}

#sidebar-info-menu a {
    display: inline-block;
    color: #777777;
    list-style: none;
    height: 45px;
    width: 100%;
    text-decoration: none;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;
    padding: 0 0 0 50px;
    letter-spacing: 1px;
    border-bottom: 1px solid rgb(44, 44, 44, 0.3);
}


#sidebar a:focus {
    color: #fff;
}

#sidebar a:hover {
    color: #fff;
}


#sidebar-info-contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #777;
    padding: 0 0 20px 50px;



}


#sidebar-info-contact ul {
    margin-bottom: 15px;
    
}

#sidebar-info-contact li{
    display: inline-block;
}


#sidebar-info-contact i {
    color: #777;
}

#sidebar-info-contact p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}





main {   
    height: 93%;
    position: relative;
}

.background-image {
    background: url("./ressources/alberta.jpg") center no-repeat;
    background-size: cover;
    height: 100%;
    filter: blur(3px);    
}

.main-text {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-text ul {
    margin-left: 10px;
    justify-self: center;
    width: 50%;
}

.main-text li {
    list-style: none;
    text-align: left;
    font-size: 22px;
    
}

.main-text p {
    font-size: 22px;
    font-family: 'Roboto', serif;
    width: 50%;
    text-align: center;
}

.main-bg-text {
    color: #fff;
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
}

.main-bg-text  h1{
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.main-bg-text span {
    color: #00a3e1;
    font-weight: 900; 
    
}

.main-dynamic-text li span {
    position: relative;
}

.main-dynamic-text li span::after {
    content: "";
    margin-left: 5px;
    position: absolute;
    height: 100%;
    border-left: 2px solid #aaa;
    animation: typing 1.5s steps(5) infinite ;
    background-color: #000;
}

video {
    display: none;
}


@media screen and (min-width: 750px) {
    .header-mobile {
        display: none;
    }

    #sidebar {
        position: absolute;
        top: 0;
        left: 0;
    }

    #sidebar .image h2 {
        display: block;
    }

    main {
        height: 100%;
        overflow: auto;
    }

    .main-bg-text {
        width: auto;
        left: 199px;
        right: 0;
    }
}

@media screen and (min-width: 1024px) {
    .background-image {
        display: none;    
    }

    video {
        display: block;
        width: 100%;
    }
}



